.container,
.header,
.side-bar,
.main-content {
  padding: 15px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: 1px black solid;
}

.header {
  border: 1px blue solid;
  grid-column: span 2;
  text-align: center;
}

.side-bar {
  display: grid;
  border: red solid 1px;
}

form > input {
  margin-bottom: 10px;
  padding: 5px;
}

.main-content {
  display: grid;
  border: green solid 1px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.main-content > div {
  border: 1px black solid;
  display: grid;
  text-align: center;
}
